@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {


  @font-face {
  font-family: "UrbaneBold";
  src: url("../utills/fonts/UrbaneRounded/UrbaneRounded-Bold.ttf") format("truetype"); /* Replace '/path/to/font.ttf' with the actual path to your font file */
}

@font-face {
  font-family: "UrbaneMedium";
  src: url("../utills/fonts/UrbaneRounded/UrbaneRounded-Medium.ttf") format("truetype"); /* Replace '/path/to/font.ttf' with the actual path to your font file */
}

@font-face {
  font-family: "UrbaneLight";
  src: url("../utills/fonts/UrbaneRounded/UrbaneRounded-Light.ttf") format("truetype"); /* Replace '/path/to/font.ttf' with the actual path to your font file */
}

}
